.mainBox {
    /* background-color: black; */
    border: 2px gray solid;
    border-radius: 10px;
    width: 500px;
    height: 300px;
    margin: 10px;
}

.colorSetter {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.coloredBox {
    border-radius: 8px;
}

.boxForTheBoxes {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.angleDiv {
    display: flex;
    flex-direction: row;
    margin-left: 15px;
}

.angle {
    height: 20px;
    width: 40px;
    margin-top: 13px;
    margin-left: 5px;
}

.header {
    display: flex;
    justify-content: center;
}